body,div,img,dl,dt,dt,ul,li,p,h1,input{ margin:0; padding:0;}
ul,li{ list-style:none}
body{font-size:12px; margin:0; padding:0;}
a{text-decoration:none; color:#333}
img{border:none;}
a:hover{ text-decoration: underline; color:#bc2d09;}
.content{ width:958px; border:1px solid #818181; background:#0d0d0d; margin:0 auto 10px auto;}
.title{ width:958px; height:93px; border-bottom:1px solid #505050; background:#0d0d0d}
.title_left{ width:920px; height:56px; float:left; padding-top:20px; padding-left:20px;}
.title_bt{ width:900px;text-align:center; height:50px; font-size:24px; font-family:"ºÚÌå"; font-weight:bold; color:#FFF}
.title_bt span{ font-size:12px; color:#7b7b7b}
.title_sj{ width:900px; height:6px; color:#FFF; font-size:12px;text-align:center}
.title_sj span{ color:#a90000;}

.pic{width: 920px; float:left; text-align:center; padding-left:20px;padding-top:20px; padding-bottom:20px; color: #FFFFFF; line-height:24px; font-size:14px;}
.pic p{padding-top:10px; text-align:center;}

.b_page{ float:left;width: 960px; padding-top:10px; padding-bottom:20px;}
.pageLink a{
	padding:3px 6px 2px; margin:3px; border:solid 1px #ccc; text-align:center; color:#000000; background: #fff;
	}
.pageLink a:hover{
	 background:#C9A100; color:#fff; border:solid 1px #C9A100;
	}
.pageLink  b{ background:#C9A100; color:#fff; border:0; margin: 3px; padding: 3px 6px 2px; font-weight: 400; border:solid 1px #C9A100; }


/*Í¼¿â*/
.content5{ width:958px; height:366px; border:1px solid  #e3e3e3; margin:0px auto 10px auto;}
.content5_title{height: 31px;background: #f6f6f6;border-bottom: 1px solid #e3e3e3;}
.content5 ul{ padding-top:15px; width:942px; padding-left:16px;}
.content5 li{ height:160px; width:173px; float:left; margin-right:15px; display:inline}
.content5 li a{color:#333333}
.content5 li a:hover{ color:#bc2d09} 
.content5 li img{ width:161px; height:115px; border:1px solid #e3e3e3; padding:5px;}
.content5_p{ width:173px; padding-top:5px; text-align:center; line-height:18px;}
.p1{ padding-left:15px; height:25px; line-height:25px; float:left; font-size:12px; color:#333333; }
.p2{ padding-right:11px; height:29px; line-height:29px; color:#666666; float:right}
.p2 a{color:#666}
.p2 a:hover{ color:#bc2d09}




.p5{ padding-left:15px; height:31px; line-height:31px; float:left; font-size:12px; color:#333333; }


.bo{ border-top:1px solid #dddddd; background:#f8f8f8; height:50px; padding-top:15px;}

.bq {
    margin: 0px auto 10px auto;
    text-align: center;
    width: 960px; color:#666
}
.bq a {
    color: #666;
}
.bq a:hover {
    color: #CC0000;
}


/*Í¼Æ¬×Ô¶¯ËõÍ¼*/
.pic img{
	max-width:900px;
	myimg:expression(onload=function(){
	this.style.width=(this.offsetWidth > 900)?"900px":"auto"}
		   );
	}