@CHARSET "UTF-8";

/* CSS Document */
.banner{ width:960px; margin:0 auto 20px auto;}
.content{ width:960px; margin:0 auto;background:#fff;}
.titles{ height:40px; border-bottom:1px solid #cbcbcb; margin-bottom:15px;}
.titles_left{ height:40px; line-height:40px; background:url(../img/sf_07.jpg) no-repeat 12px 10px; padding-left:25px; font-size:22px;font-weight:bold; float:left;}
.titles_right{ width:50px; height:16px; float:right; padding-top:15px;}
.content li{ width:172px; height:170px; float:left; margin:0px 10px 0px 10px; display:inline;}
.content li img{ width:170px; height:120px; border:1px solid #d6d5d9;}
.content li p{line-height:18px; text-align:center;} 
.content li a{ color:#333}
.content li a:hover{ color:#c00;}