@charset "UTF-8";
/* CSS Document */
body{font-family:"宋体","Microsoft Yahei",Arial Narrow; background:url(../images/bg.jpg) center repeat;font-size:12px; color:#666;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,span,form,input,textarea{padding:0; margin:0;}
table{ border-spacing: 0 ; border-collapse : collapse ;}
img{border:0;}
ol,ul ,li{list-style:none;}   
a:link,a:visited{color:#666;text-decoration:none}
a:active,a:hover{color:#f00;text-decoration:underline}
.lt{float:left;}
.rt{float:right;}
.cl{clear:both;}
.mtop10{margin-top:10px;}

.warp{width:100%; background:#eeeeee;}
.nav{width:980px; margin:0 auto; height:33px; padding:14px 0 22px; overflow:hidden;}
.nav img{float:left; display:inline; margin-left:15px;}
.nav ul{float:right; font:normal 14px/26px "Microsoft Yahei"; padding:7px 15px 0 0;}
.nav li{float:left; border-right:1px solid #9fa0a1; border-right:1px dotted #9fa0a1; padding:0 20px;}
.nav li.none{border:0;}
.head,.bottom{width:980px; margin:0 auto;}
/*关于我们*/
.content1,.content2,.content3,.content4,.content6,.content8{width:936px; margin:10px auto 0; padding:25px 22px; background:#fff; line-height:30px; font-size:14px;}
.content1 dl{width:936px; float:left;}
.content1 dd,.content2 dd{padding:15px 10px 0;}
.content1 dd p,.content2 dd p{text-indent:2em;}
.content1 ul{width:250px; float:right; margin-top:13px;}
.content1 ul li{width:250px; float:left; margin-top:20px;}
/*广告服务*/
.content2 h3{height:26px; font:normal 14px/26px "Microsoft Yahei"; background:#ededed; border-left:8px solid #ffcc00; margin-top:20px; color:#333; width:908px; padding:0 10px; float:left;}
.content2 li{width:370px; float:left; color:#333; padding:15px 0 10px 80px;}
.content2 li b{color:#000000;}
.ggpic{padding:40px 0; width:936px; float:left;}
/*诚聘英才联系我们*/
.content3 h3{background:url(../images/li_a.gif) 0 23px no-repeat; color:#000000; font-weight:normal; width:906px; padding:15px 15px 0; float:left;}
.content3 span{border-bottom:1px dotted #c5ced7; width:906px; float:left; padding:5px 15px 10px;}
/*版权声明*/
.content4 dd{padding:30px;}
.content4 dd p{text-indent:2em;}
/*市场合作*/
.content5{width:400px; overflow:hidden;}
.content5 li{padding:15px 0 10px 30px;}
/*友情链接*/
.content6 h3{background:url(../images/li_b.gif) 10px 24px no-repeat; color:#333; font-weight:normal; width:886px; padding:15px 25px 0; float:left; font:normal 14px/26px "Microsoft Yahei";}
.content6 ul{border-bottom:1px dotted #c5ced7; width:916px; float:left; font-size:12px; margin:0 10px; display:inline; padding:10px 0;}
.content6 li{height:30px; overflow:hidden; float:left; width:110px; padding-left:15px;}
/*天极站群*/
.content8 dd{border-bottom:1px dotted #c5ced7; padding:20px 41px 20px 15px; width:880px; float:left; font-size:12px; line-height:24px;}
.content8 dd span{width:171px; float:left; text-align:center; padding-right:50px;}
.content8 dd span img{width:169px; height:69px; border:1px solid #e1e1e1; display:block;}
.content8 dd span p{line-height:20px; height:20px; margin-top:5px;}
.bo{ border-top:1px solid #dddddd; background:#f8f8f8; height:50px; padding-top:15px;}

.bq {
    margin: 0px auto 10px auto;
    text-align: center;
    width: 960px; color:#666
}
.bq a {
    color: #666;
}
.bq a:hover {
    color: #CC0000;
}
