@charset "utf-8";
/* CSS Document */
.banner{ height:256px; width:960px; margin:0 auto;overflow:hidden;background:#fff;}
.ba_left{ width:380px; height:246px; float:right;  padding-top:10px;}
.ba_left h1{ height:38px; display:block; font-family: "微软雅黑","宋体",serif;font-size: 20px; font-family: "微软雅黑","宋体",serif;font-size: 20px; font-weight: normal;}
.xbt{ width:380px; padding-bottom:8px;}
.ba_left h1 a{ color:#333}
.ba_left h1 a:hover{ color:#c00;}
.xbt li{ height:23px; width:190px; float:left;}
.xbt li a{ color:#333}
.xbt li a:hover{ color:#c00;}
.content{ width:960px; margin:0 auto 10px auto;}
.ba_right{ height:256px; width:559px; float:left;}

.flash {
  height: 224px;
  overflow: hidden;
  width: 560px;
  margin:0 auto
}

.left{ width:657px; height:889px; float:left; border-right:1px solid #e5e5e5;display:block; overflow:hidden;
}
.cn{ padding-left:11px; width:646px; height:683px;}
.cn_left{ width:370px; height:672px; float:left; border-top:1px solid #e4e4e4; padding-top:10px;}
.cn_left h1{ height:42px; display:block; font-family: "微软雅黑","宋体",serif;font-size: 20px; font-weight: normal;}
.cn_left ul{ width:370px; display:block; padding-bottom:8px;}
.cn_left li{ height:29px; display:block; font-size:14px; background:url(../image/ufo_46.gif) no-repeat 2px 3px; padding-left:12px;}
.cn_left li a{ color:#333;}
.cn_left li a:hover{ color:#c00;}
.cn_right{ width:243px; float:right; height:683px; padding-right:13px;}
.cn_rtop{ border-top:2px solid #e5e5e5; overflow:hidden; display:block; height:8px;}
.cn_rtit{ width:243px; height:34px;}
.cnr_l{ height:34px; background:url(../image/xiaokuai.gif) no-repeat 0 3px; padding-left:8px;font-family: "微软雅黑","宋体",serif;font-size: 16px; float:left;}
.cnr_right{ height:30px; float:right; padding-top:4px;}
.cnr_right a{ color:#333}
.cnr_right a:hover{ color:#c00;}
.tyue{ width:243px; border-bottom:1px solid #d1dfed;}
.tyue dl{ height:103px; display:block;}
.tyue dt{ height:21px; display:block; font-size:12px;}
.tyue dt a{ color:#333}
.tyue dt a:hover{ color:#c00;}
.tyue span dd{ width:97px; height:79px; display:block; margin:0;float:left; padding-top:0px;}
.tyue span dd img{ width:90px; height:65px; border:1px solid #dddddd}
.tyue dd{ width:132px; height:68px; float:left; display:block; margin:0; line-height:20px; color:#666; padding-top:3px;}
.tyue dd a{ color:#666;}
.tyue dd a:hover{ color:#c00;}
.tyue li{height:26px; display:block; background:url(../image/ufo_46.gif) no-repeat 0px 4px; padding-left:10px;}
.tyue li a{ color:#333333}
.tyue li a:hover{ color:#c00;}
.cntu{ width:645px; height:206px;}
.cntu_titile{ height:41px; border:1px solid #e5e5e5; border-right:none; background:#f4f5f4;font-family: "微软雅黑","宋体",serif;font-size: 16px; line-height:41px; padding-left:13px; color:#333}
.cntu ul{ padding:10px 0 0 8px;}
.cntu li{ width:148px; height:153px; float:left; margin-right:11px; display:inline;}
.cntu li img{ width:146px; height:102px; border:1px solid #d6d5d9;}
.cntu li p{ padding-top:2px; line-height:18px; text-align:center;} 
.cntu li a{ color:#333}
.cntu li a:hover{ color:#c00;}
.right{ width:289px; float:right; height:889px;}
.zhuanlan{ height:229px;}
.zhuanlan_t{ height:41px; border-top:2px solid #e5e5e5; border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5; background:url(../image/title_bg.gif) repeat-x bottom; }
.zhuanlan_t li{ width:143px; display:block; float:left; height:41px; line-height:41px; text-align:center;font-family: "微软雅黑","宋体",serif;font-size: 16px; }
.zhuanlan_t li:hover{ background:#FFF; width:142px; border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5; cursor:pointer;}
.zhuanlan_t li.hover{ background:#FFF; width:142px; border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5; cursor:pointer;}
.zlcn{ height:173px; padding-top:13px;}
.zlcn p{ display:block; height:86px;}
.zlcn li{ height:24px; width:133px; float:left; display:inline; background:url(../image/ufo_46.gif) no-repeat 2px 4px; padding-left:11px;}
.zlcn li a{ color:333;}
.zlcn li a:hover{ color:#c00}
.focus_data {
    background-color: #383838;
    color: #FFFFFF;
    font-family: "Microsoft YaHei","微软雅黑","宋体";
    height: 211px;
    margin:0px 0 10px;
    overflow: hidden;
    padding: 1px;
    text-align: center;
}
.focus_data .d_title {
    color: #EBEFF3;
    height: 29px;
    padding-top: 2px; line-height:29px;
}
.focus_data .d_l {
    float: left;
    width: 130px;
}
.focus_data .d_l .d_l_t {
    background: none repeat scroll 0 0 #808080;
    cursor: pointer;
    font-size: 29px;
    height: 89px;
    white-space: nowrap;
}
.focus_data .d_l .d_l_t a {
    padding-top: 10px; display:block;; color:#FFF;
}
.focus_data .d_l .d_l_b {
    background: none repeat scroll 0 0 #b9b9b9;
    cursor: pointer;
    font-size: 24px;
    height: 89px;
    margin-top: 1px;
}
.focus_data .d_l .d_l_b a {
    padding-top: 20px; display:block; color:#FFF;
}
.focus_data .d_r {
    cursor: pointer;
    float: left;
    margin-left: 1px;
    width: 156px;
}
.focus_data .d_r .d_r_t {
    background: none repeat scroll 0 0 #626264;
    font-size: 24px;
    height: 95px;
}
.focus_data .d_r .d_r_t a {
    padding-top:13px; display:block; color:#FFF;
}
.focus_data .d_r .d_r_b {
    background: none repeat scroll 0 0 #383836;
    font-size: 36px;
    height: 114px;
    margin-top: 1px;
    overflow: hidden;
}
.focus_data .d_r .d_r_b a {
    padding-top: 25px; display:block; color:#FFF
}
.focus_data .d_l_t:hover {
    background: none repeat scroll 0 0 #808080;
}
.focus_data .d_l_b:hover {
    background: none repeat scroll 0 0 #b9b9b9;
}
.focus_data .d_r_t:hover {
    background: none repeat scroll 0 0 #626264;
}
.focus_data .d_r_b:hover {
    background: none repeat scroll 0 0 #383838;
}
.focus_data span {
    display: block;
    float: none;
    font-size: 14px;
    font-weight: bold;
}
.focus_data .d_r .d_r_t a {
    padding-top: 13px;
}


.ph_cn{height:300px; padding-top:16px;} 
.ph{ width:289px; height:367px;}
.ph_title{height:41px; border-top:2px solid #e5e5e5; border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5; background:url(../image/title_bg.gif) repeat-x bottom;}
.ph_title li{ width:95px; display:block; float:left; height:41px; line-height:41px; text-align:center;font-family: "微软雅黑","宋体",serif;font-size: 16px; border-right:1px solid #e5e5e5}
.ph_title li:hover{ background:#FFF; cursor:pointer;}
.ph_title li.hover{ background:#FFF;}
.ph_cn li{height:29px; display:block; padding-top:6px;}
.ph_span{ width:21px; height:21px; display:block; float:left; background:url(../image/ph_bg.gif) no-repeat 8px 0; text-align:center; line-height:21px; color:#FFF; padding-left:8px;}
.ph_span2{ width:21px; height:21px; display:block; float:left; background:url(../image/hp_bg2.gif) no-repeat 8px 0; text-align:center; line-height:21px; color:#FFF; padding-left:8px;}
.ph_cn li a{ display:block; width:242px; height:24px; float:left; padding-top:5px; padding-left:9px;}
.ph_cn li a:hover{ color:#c00;}
.ph_xt{ width:280px; height:1px; border-top:dashed 1px #e4e4e4; margin:0 auto; display:block; overflow:hidden;}
.egg{ width:960px; margin:0 auto 10px auto; }
.content2{ width:960px; margin:0 auto;overflow:hidden; height:675px;}
.cnt2{ width:960px;}

.fn_area_title {
   
    height: 53px;
    margin-bottom: 20px;
    width: 960px; display:block; background:url(../image/ttbg.gif) repeat-x bottom
}
.fn_area_title a{ color:#333}

.fn_area_title a:hover{ color:#c00;}

.cnt2_title {
  font-family: '微软雅黑';
  height: 53px;
  overflow: hidden; 
  
}
 .cont {
  border-bottom: 5px solid #000000;
  float: left;
  font-size: 28px;
  height: 30px;
  overflow: hidden;
  padding-bottom: 13px;
  width: 185px;
  padding-left:10px;
  padding-top:5px;

}
.blank {
    border-bottom: 5px solid #FFFFFF;
    float: left;
    height: 35px;
    overflow: hidden;
    padding-bottom: 13px;
    width: 3px; display:block
}

.left2{ width:391px; height:595px; float:left;}
.left2 h1{ height:38px; display:block;font-family: "微软雅黑","宋体",serif;font-size: 18px; font-weight: normal;}
.left2 ul{ width:370px; display:block; padding-bottom:15px;}
.left2 li{ height:29px; display:block; font-size:14px; background:url(../image/ufo_46.gif) no-repeat 2px 3px; padding-left:12px;}
.left2 li a{ color:#333;}
.left2 li a:hover{ color:#c00;}
.cn2{ width:256px; height:575px; float:left; border-right:1px solid #e5e5e5; padding-left:10px;}

.cn_rtop2{ border-top:1px solid #e5e5e5; overflow:hidden; display:block; height:8px;}
.cn2_new{ width:256px; height:142px; overflow:hidden;}
.cn2_new li{ height:22px; display:block;border-bottom:1px  dotted  #e5e5e5; overflow:hidden; display:block; width:243px; margin-bottom:8px;}
.cn2_new li a{ color:#333}
.cn2_new li a:hover{ color:#c00;}


.right2{ width:289px; height:595px; float:right;}
.right2_title{ height:37px; padding-right:5px;}
.rtnew{ width:286px; height:323px;}
.rtnew_jd{ width:286px; height:184px; display:block;}
.rtnew_jd img{ width:286px; height:150px;}
.rtnew_jd p{ text-align:center; padding-top:7px;}
.rtnew_xt{ width:274px; height:16px; display:block; overflow:hidden; margin:0 auto; border-top:1px dotted #e4e4e4}
.rtnew li{ height:29px; background:url(../image/ufo_46.gif) no-repeat 0 4px; padding-left:10px; display:block}
.rtnew li a{ color:#333}
.rtnew li a:hover{ color:#c00;}
.rtnew_xt2{ width:274px; height:16px; display:block; overflow:hidden;border-top:1px solid #e4e4e4}
.rtnew2{ width:289px; height:178px;}
.rtnew2_t{ width:289px;}
.rtnew2_t li{ height:29px; background:url(../image/ufo_46.gif) no-repeat 0 4px; padding-left:10px; display:block}
.rtnew2_b{ width:270px; height:57px; color:#e5e5e5; line-height:22px;}
.rtnew2_b a{ color:#333}
.rtnew2_b a:hover{ color:#c00;}

.cnr_right2{ color:#666;height:30px; float:right; padding-top:4px;}
.cnr_right2 a{ color:#666}
.cnr_right2 a:hover{ color:#c00;}

.cn3_left{ width:240px; height:150px; float:left; padding:0px 0 0 0px; position:relative;}
.cn3_left img{ width:240px; height:150px;}
.cn3_left span{
  background-color: #000000;
  filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
  text-indent:-999px;
  z-index:1;
  position:absolute;
  width:240px;
  height:21px;
  top: 130px;
  line-height:21px;
  left: 0px;
}
.cn3_left em{
  position: absolute;
  text-align: center;
  width: 240px;
  left: -1px;
  top: 135px;
  color:#FFF;
  font-size: 12px;
  z-index: 2;
  font-style: normal;
}

.cn3_left em a{ color:#FFF}
.cn3_left em a:hover{ color:#c00;}

.shuaxin{ height:36px; border-top:1px solid #e4e4e4; padding-top:10px;}
.shuaxin_r{ width:16px; height:15px; float:right; margin:5px 7px 0 0;}

.right3{ width:289px; height:595px; float:right;}
.fn_img_w70 {
    font-size: 14px;
    font-weight: bold;
    height: 70px;
    overflow: hidden;
}


.fn_img_right_info {
    background: none repeat scroll 0 0 #F0F0F0;
    float: left;
    height: 40px;
    line-height: 20px;
    padding: 15px 10px;
    width: 165px; overflow:hidden;
}
.fn_bgt{font-family: "Microsoft YaHei","微软雅黑","宋体";
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
    white-space: nowrap;}



.fn_img_right_info span {
    color: gray;
    font-size: 12px;
    font-weight: normal;
}
.fn_img_tu{ float:left; width:100px; height:70px;}
.fn_img_tu  img{ width:100px; height:70px;}
.right3_news{ width:289px; padding-top:16px; padding-bottom:10px;}
.right3_news li{ height:24px; display:block; background:url(../image/ufo_46.gif) no-repeat 1px 4px; padding-left:11px;}
.right3_news li a{ color:#333}
.right3_news li a:hover{ color:#c00;}
.fn_bgt2{ font-size:16px; font-weight:bold;}
.diaoca{ height:29px; padding-left:10px; font-size:14px; color:#333;}

.dch{ height:24px; padding-left:10px;}
.dch_left{ width:37px; height:22px; float:left; padding-top:2px; color:#666666}
.dch_cn{ width:120px; height:24px; float:left;}
.dch_right{ width:110px; height:24px; float:left;}
.zrdc{ height:15px; padding-left:10px; color:#333; padding-top:10px;}



.pic{ width:960px;margin:0 auto; border-top:1px solid #e5e5e5; padding-bottom:10px;}
.pic_title{ height:53px;}
.pic_l{ height:53px; padding-left:15px;font-family: "微软雅黑","宋体",serif;font-size:18px; font-weight: normal; line-height:53px; float:left;}
.pic_r{ height:53px; float:right; padding-right:7px; line-height:53px;}
.pic ul{ padding-left:15px; display:block; width:945px;}
.pic li{ width:172px; height:175px; float:left;margin-right:16px; display:inline;}
.pic li img{ width:171px; height:119px; border:1px solid #cbcacf;}
.pic li p{ text-align:center; line-height:20px; padding-top:3px;}
.pic li a{ color:#666}
.pic li a:hover{ color:#c00;}


.link{ width:960px;margin:0 auto;}
.link_t{ height:36px; line-height:36px; border-bottom:1px solid #e5e5e5; padding-left:15px;;font-family: "微软雅黑","宋体",serif;font-size:18px; font-weight: normal; }
.link_cn{ padding:15px; padding-bottom:20px;}
.link_cn a{  color:#333; line-height:30px; margin-right:10px;}
.link_cn a:hover{ color:#c00;}
.bo{ border-top:1px solid #dddddd; background:#f8f8f8; padding-top:15px;}


.bq {
    margin: 0px auto 10px auto;
    text-align: center;
    width: 960px; color:#666
}
.bq a {
    color: #666;
}
.bq a:hover {
    color: #CC0000;
}


.heiks{ width:289px; height:238px;margin: 0px 0 0px; font-family: "Microsoft YaHei","微软雅黑","宋体"; color:#f4f4f4;}
.heiks a{ color:#f4f4f4}
.heiks a:hover{ color:#f4f4f4}
.heiks_t{ width:289px; height:122px; margin-bottom:6px;}
.heiks_left{ width:170px; height:120px; float:left;}
.heiks_lto{ width:170px; height:53px; background:#972a47; text-align:center; line-height:46px; font-size:18px; margin-bottom:6px;}
.heiks_b{ width:170px; height:61px;}
.heiks_ble{ width:78px; height:41px; line-height:18px; text-align:center; padding-top:20px; font-size:14px; float:left; background:#282828}
.heiks_bri{ width:86px; height:61px; margin-top:1px; float:right; background:#0c2960; line-height:61px; font-size:18px; text-align:center;}
.heiks_right{ width:114px; height:89px; float:right; padding-top:32px; background:#726404}
.heiks_rip{ height:32px; text-align:center; display:block; font-size:20px;}
.heiks_rip2{ height:35px; text-align:center; display:block; font-size:12px;}

.keib{ width:289px; height:93px;}
.keib_left{ width:109px; height:93px; float:left; margin-right:6px;}
.keib_left_p{ width:109px; height:29px; text-align:center; line-height:29px; font-size:14px; display:block; background:#726404; margin-bottom:6px;}
.keib_left_p2{ width:103px; height:29px; text-align:center; line-height:29px; font-size:14px; display:block; background:#b9b9b9;}
.keib_left_p3{ width:109px; height:58px; text-align:center; line-height:58px; font-size:14px; display:block; background:#0c2960}
.keib_cn{ width:82px; height:93px; float:left;}
.keib_cn_p{ width:82px; height:46px; display:block; text-align:center; line-height:47px; font-size:14px; background:#282828; margin-bottom:6px;}
.keib_cn_p2{ width:82px; height:41px; display:block; text-align:center; line-height:41px; font-size:14px; background:#972a47; margin-left:1px;}
.keib_right{ width:87px; height:67px; float:right; padding-top:25px; background:#a3ae00}
.keib_right_p{ height:32px; width:87px; text-align:center; font-size:17px;}
.keib_right_p2{ height:32px; width:87px; text-align:center; font-size:12px;}
.WebDate {
    border:1px solid #999;
    height:20px;
    background:#fff url(../datePicker.gif) no-repeat right
}
div.CalendarPanel {
    width:176px;
    background-color:#fff;
    border:1px solid #999;
    font-size:12px
}
table.CalendarTop {
    border:0 solid #7ba;
    font-size:12px
}
.CalendarTop tr.titlerili input {
    font-size:12px;
    padding-left:2px;
    padding-right:2px;
    padding-top:2px;
    cursor:pointer;
    color:#000;
    border:1px solid #999;
    background-color:#d5d5d5
}
.CalendarTop tr.titlerili th.prevMonth {
    width:5%
}
.CalendarTop tr.titlerili th.prevMonth input {
    width:20px
}
.CalendarTop tr.titlerili th.YearMonth {
    width:90%
}
.CalendarTop tr.titlerili th.YearMonth select {
    font-size:12px;
    width:60px;
    border:1px solid #999
}
.CalendarTop tr.titlerili th.nextMonth {
    width:5%
}
.CalendarTop tr.titlerili th.nextMonth input {
    width:20px
}
table.CalendarDate {
    border:0 solid #fff;
    background-color:#fff;
    font-size:12px
}
.CalendarDate tr.titleli th {
    padding-top:3px;
    padding-bottom:3px;
    text-align:center;
    font-weight:normal;
    background-color:#d5d5d5;
    color:#000
}
.CalendarDate tr.date td {
    padding-top:3px;
    padding-bottom:3px;
    text-align:center;
    background-color:#e7e7e7
}
.CalendarDate tr.date td.sun a {
    cursor:default;
    color:#f00
}
.CalendarDate tr.date td.sun a {
    cursor:default;
    color:#f00
}
.CalendarDate tr.date td.sat a {
    cursor:default;
    color:#f00
}
.CalendarDate tr.date td.day a {
    cursor:default;
    color:#000
}
.CalendarDate tr.date td.today a {
    cursor:default;
    background-color:#c00;
    color:#fff
}
.CalendarDate tr.date td.selDay {
    padding-top:3px;
    padding-bottom:3px;
    cursor:default;
    background-color:#c00;
    color:#fff
}
.CalendarDate tr.date td.selDay a {
    color:#fff
}
.CalendarDate tr.date td.dayOver {
    padding-top:3px;
    padding-bottom:3px;
    cursor:pointer;
    background-color:#c00;
    color:#fff
}
.CalendarDate tr.date td.dayOver a {
    color:#fff
}
table.CalendarTime {
    border:0 solid #fff;
    background-color:#fff;
    font-size:12px
}
.CalendarTime tr td select {
    font-size:12px;
    width:40px
}
div.CalendarButtonDiv {
    padding:4px 4px 4px 4px;
    background-color:#fff
}

.xhkl{ height:170px;}
.xhkl li{ width:100px; height:170px; display:inline; margin:0 15px 0 20px; float:left;}
.xhkl li p{ text-align:center; padding-top:4px; line-height:18px;}
.CalendarButtonDiv input {
    width:40px;
    font-size:12px;
    padding-left:2px;
    padding-right:2px;
    cursor:pointer;
    color:#000;
    border:1px solid #7ba;
    padding-top:2px;
    background-color:#bdebee
}
